<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TestApp1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>

		<servlet-name>InputServlet</servlet-name>
		<servlet-class>com.controller.InputServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>InputServlet</servlet-name>
		<url-pattern>/InputServlet</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.controller.SignUpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/SUS</url-pattern>

	</servlet-mapping>

	<filter>
		<filter-name>AgeValidationFilter</filter-name>
		<filter-class>com.filter.AgeValidationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AgeValidationFilter</filter-name>
		<url-pattern>/FindAgeSerlvet</url-pattern>
		<!-- <servlet-name>FindAgeSerlvet</servlet-name> -->
	</filter-mapping>

			<jsp-config>
			<taglib>
					<taglib-uri>stag</taglib-uri>
					<taglib-location>/WEB-INF/stag.tld</taglib-location>
			</taglib>
			<taglib>
					<taglib-uri>ctag</taglib-uri>
					<taglib-location>/WEB-INF/ctag.tld</taglib-location>
			</taglib>							
	
	
	
	
	</jsp-config>



</web-app>
